@charset "UTF-8";

/* Velope.css - CSS framework used exclusively for production needs */
/* If you see it publicly on the web, someone didn’t understand what “production” means. */

/* 0. RESET
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

a, abbr, address, article, aside, audio, b, blockquote, body, canvas,
caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup,
html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, p, pre, q, samp, section, small, span, strong, sub, summary,
sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary {
  display: block;
}

mark {
  background-color: transparent;
}

caption, th {
  text-align: left;
}

q:after, q:before {
  content: "";
}


/* 1. VANILLA ELEMENTS
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

body {
  font: normal 14px/22px "Lucida Grande", "Tahoma", "Verdana", sans-serif;
  background-color: #fff;
  color: #333;
  margin: 22px 0;
}

p, blockquote, ul, ol, dl, table, pre, figure {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a {
  color: #0385d8;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #005184;
}

a:active {
  position: relative;
  top: 1px;
}

ol, ul {
  margin-left: 40px;
}

ul > li {
  list-style-type: disc;
}

blockquote {
  border-left: 10px solid rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.5);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* 2. LAYOUT
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

/* 2.1 =Layout Wrappers
======================================================================= */

.wrap {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* 2.2 =Columns
======================================================================= */

.columns::after {
  content: "";
  display: block;
  clear: both;
}

.columns > .first,
.columns > .second,
.columns > .third,
.columns > .last {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Columns are equal by default */

.columns > .first,
.columns > .last {
  width: 50%;
}

.columns.three > .first,
.columns.three > .second,
.columns.three > .last {
  width: 33.333333%;
}

.columns.four > .first,
.columns.four > .second,
.columns.four > .third,
.columns.four > .last {
  width: 25%;
}

.columns.gutter > .first,
.columns.three.gutter > .second,
.columns.four.gutter > .second,
.columns.four.gutter > .third {
  padding-right: 11px;
}

.columns.gutter > .last {
  padding-left: 11px;
}

/* 2.3 =Vertical Spacing
======================================================================= */

.gap {
  margin-top: 22px;
  margin-bottom: 22px;
}

.gap.quarter {
  margin-top: 5px;
  margin-bottom: 5px;
}

.gap.half {
  margin-top: 11px;
  margin-bottom: 11px;
}

.gap.double {
  margin-top: 44px;
  margin-bottom: 44px;
}

.gap.triple {
  margin-top: 66px;
  margin-bottom: 66px;
}

.gap.push {
  margin-top: 0;
}

.gap.pull {
  margin-bottom: 0;
}

/* . NAVIGATION
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

.nav {
  margin-left: 0;
  display: table;
  width: 100%;
  background:    -moz-linear-gradient(bottom, #41b4ef 25%, #0e7fba 100%);
  background:     -ms-linear-gradient(bottom, #41b4ef 25%, #0e7fba 100%);
  background:      -o-linear-gradient(bottom, #41b4ef 25%, #0e7fba 100%);
  background: -webkit-linear-gradient(bottom, #41b4ef 25%, #0e7fba 100%);
  background:         linear-gradient(bottom, #41b4ef 25%, #0e7fba 100%);
  -moz-border-radius: 5px;
  border-radius: 5px;
  table-layout: fixed;
}

.nav li {
  list-style: none;
  display: table-cell;
  text-align: center;
  padding-right: 1px;
}

.nav li a {
  display: block;
  color: #fff;
  background-color: #41b4ef;
  background:    -moz-linear-gradient(bottom, #41b4ef 0%, #74ccf9 100%);
  background:     -ms-linear-gradient(bottom, #41b4ef 0%, #74ccf9 100%);
  background:      -o-linear-gradient(bottom, #41b4ef 0%, #74ccf9 100%);
  background: -webkit-linear-gradient(bottom, #41b4ef 0%, #74ccf9 100%);
  background:         linear-gradient(bottom, #41b4ef 0%, #74ccf9 100%);
  text-shadow: rgba(15, 81, 115, 0.75) 0 1px 0;
  padding: 8px 0;
  text-decoration: none;
}

.nav li a:hover,
.nav li a:focus {
  background-color: #3591bf;
  background:    -moz-linear-gradient(bottom, #3591bf 0%, #5ca3c7 100%);
  background:     -ms-linear-gradient(bottom, #3591bf 0%, #5ca3c7 100%);
  background:      -o-linear-gradient(bottom, #3591bf 0%, #5ca3c7 100%);
  background: -webkit-linear-gradient(bottom, #3591bf 0%, #5ca3c7 100%);
  background:         linear-gradient(bottom, #3591bf 0%, #5ca3c7 100%);
}

.nav li a:hover,
.nav li a:focus,
.nav li a:active {
  margin-left: -1px;
  margin-right: -1px;
}

.nav li:first-child a:hover,
.nav li:first-child a:focus,
.nav li:first-child a:active {
  margin-left: 0;
  padding-right: 1px;
}

.nav li:last-child a:hover,
.nav li:last-child a:focus,
.nav li:last-child a:active {
  margin-right: 0;
  padding-left: 1px;
}

.nav li a:active {
  position: static;
  top: 0;
  -moz-box-shadow: inset #215a77 0 3px 8px;
  -webkit-box-shadow: inset #215a77 0 3px 8px;
  box-shadow: inset #215a77 0 3px 8px;
}

.nav li:last-child {
  padding-right: 0;
}

.nav li:first-child a {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav li:last-child a {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* 3. HEADINGS
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

.heading-major,
.heading,
.heading-minor {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 22px;
}

.heading-major {
  font-size: 36px;
  line-height: 44px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 7px;
}

.heading {
  font-size: 24px;
  line-height: 30px;
}

.heading-minor {
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

/* . BOXES
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

.box {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding-left: 11px;
  padding-right: 11px;
}

/* . FORMS
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

button,
select,
textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
  font: inherit;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}